<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <table class="table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Waze URL</th>
        <th>Google Maps URL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MIA Miami International Airport</td>
        <td><a href="waze://?ll=25.7958698,-80.2892344&navigate=yes">Waze</a></td>
        <td><a href="comgooglemaps://?daddr=25.7958698,-80.2892344&directionsmode=driving">Google Maps</a></td>
      </tr>
    </tbody>
  </table>

</div>
